.button.is-primary {
	background: $brand-primary;
	&:visited {
		background: $brand-primary;
	}
}
.section .columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.pagination-list {
	justify-content: center;
}
.is-login .navbar-item.is-active {
	border-color: #fff;
}
.is-login .navbar-menu {
	background: #000;
}
.navbar-menu {
	background: $brand-primary;
}
.navbar-burger {
	background: $brand-primary;
	border: none;
}
.navbar-burger span {
	height: 2px;
	color: #fff;
}