@import "styles/nav";

// General Selectors
.is-bg-quebec3 {
	background: $brand-primary;
	color: #fff;
}
.is-text-quebec3 {
	color: $brand-primary;
}
.visible-small {
	@include breakpoint(small) {
		display: none;
	}
}
.text-bg {
	background: rgba(0,0,0,.5);
	display: table;
	margin: 0 auto;
}

// LPV
.hero {
	background: $brand-primary url("/images/quebec3-hero.jpg") no-repeat center;
}

// Blog Index
.is-hero-gen {
	background: $brand-primary url("/images/blog-bg-2.jpg") no-repeat center;
	h1 {
		color: #fff;
		letter-spacing: $letter-spacing-title;
		text-align: center;
	}
}

.media {
	flex-wrap: wrap;
	@include breakpoint(small) {
		flex-wrap: nowrap;
	}
}

// Blog Single
.featured-image {
	display: block;
	margin: 0 auto;
}

.pipe {
	background: #ccc;
	height: 50%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
}

.link {
	position: relative;
	.link-item {
		border: 1px solid #ccc;
		border-width: 1px 0;
		display: flex;
		&__prev,
		&__next {
			align-self: center;
			display: block;
			width: 100%;
		}
		&__prev {
			padding-left: 20px;
			i {
				left: 2%;
			}
		}
		&__next {
			padding-right: 20px;
			i {
				right: 2%;
			}
		}
	}
	.arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}