// Nav
.navbar.is-login {
	background: #000;
	span {
		&.navbar-item {
			color: yellow;
		}
	}
	.navbar-item {
		background: #000;
	}
	a.navbar-item {
		color: #fff;
	}
}

// LPV
.hero {
	background: $brand-primary;
}

// Blog Index
.is-blog {
	background: $brand-info;
	h1 {
		color: #fff;
		// font-size: $font-size-title;
		letter-spacing: $letter-spacing-title;
		text-align: center;
	}
}

// Blog Single
.featured-image {
	display: block;
	margin: 0 auto;
}