@import "styles/nav";

// General Selectors
.is-bg-quebec3 {
	background: $brand-primary;
	color: #fff;
}
.is-text-quebec3 {
	color: $brand-primary;
}

// LPV
.hero {
	background: $brand-primary url("/images/quebec3-hero.jpg") no-repeat center;
}

// Blog Index
.is-blog {
	background: $brand-primary url("/images/blog-bg-2.jpg") no-repeat center;
	h1 {
		color: #fff;
		letter-spacing: $letter-spacing-title;
		text-align: center;
	}
}

.is-200x200 {
	height: auto;
	width: 200px;
}
.media {
	flex-wrap: wrap;
	@include breakpoint(small) {
		flex-wrap: nowrap;
	}
}

// Blog Single
.featured-image {
	display: block;
	margin: 0 auto;
}