.is-blog-single,
.is-blog-show {
	.featured-image {
		display: block;
		margin: 0 auto;
	}
	.share-buttons > div {
		float: left;
		margin-right: 15px;
	}
	.blog-body {
		h2 {
			font-size: 1.5rem;
			font-weight: bold;
			padding-bottom: .5rem;
		}
		h3 {
			font-weight: bold;
			padding-bottom: .5rem;
		}
		p {
			padding-bottom: 2rem;
			line-height: 2rem;
		}
		img {
			display: block;
			margin: 0 auto .25rem;
		}
		div {
			font-size: .85rem;
			line-height: 1rem;
			padding-bottom: 2rem;
		}
	}
}